html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: center;
}

.menu {
 display: flex;  
 flex-wrap: wrap; 
}

.menu a {
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}

.body-content {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    padding-left: 10%;
    padding-right: 10%;
}

.body-content-container {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

@media only screen and (min-width: 740px) {

    .body-content-container {
        display: flex;
        align-items: center;
        height: 80%;
    }   
}

.riki {
    display: block;
    width: 38%;
    max-width: 400px;
    min-width: 250px;
    padding: 20px 20px 20px 20px;
}

.bio {
    display: inline-block;
    width: 50%;
    min-width: 250px;
    color: black;
}

.accounts {
    color: gray;
}

/* footer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
} */

.footer-text {
    color: gray;
}


.bio h1 span {
    color: rgb(0, 68, 255);
}

/* .bio h1 span {
    color: rgb(255, 81, 0);
} */

@media only screen and (min-width: 1050px) {

   .riki {
       width: 40%;
       max-width: none;
   } 

}