/* General */

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  height: 10vh;
  line-height: 10vh;
  display: flex;
  justify-content: center;
  border-bottom: solid rgba(153, 153, 153, 0.726) 1px;
  width: 100vw;
  background-color: #0077b5;
}

.menu {
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.menu a:visited {
  color: white;
}

ul {
  padding-left: 15px;
}

li {
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: gray;
}

a:visited {
  color: gray;
}

a:hover {
  color: #0077b5;
}

/* ---------------------Primary Content ---------------------*/

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
  width: 100%;
  align-content: center;
}

h1 {
  font-size: 2rem;
}

h1 span {
  color: #0077b5;
}

/* Blog Card Box Styles */

.cards-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  border: solid 1px #ececec;
  width: 350px;
  margin: 20px;
}

/* graphical content #3 */
.card-image-container {
  width: 100%;
}

.card-image-container img {
  width: 100%;
}

.container-for-text {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container-for-text span {
  color: gray;
}

.container-for-text h2 {
  font-weight: 500;
  margin: 10px 0;
}

.container-for-text a h2 {
  color: black;
}

.container-for-text a h2:hover {
  color: #0077b5;
}

.container-for-text a span {
  color: gray;
}

.container-for-text a span:hover {
  color: #0077b5;
}

.container-for-text p {
  margin-top: 0px;
  margin-bottom: 10px;
}

/* footer */

footer {
  height: 10vh;
  line-height: 10vh;
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #0077b5;
}

.footer-content {
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.footer-content a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.footer-content a:visited {
  color: white;
}

.footer-content a .footer-icons {
  height: 25px;
}
